.nav {
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 4em;
  background-color: #19181c;
}

.logo {
  height: 3em;
  width: 8em;
  margin: 1em;
}

.nav-image {
  flex: 3;
}

.nav-remaining {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  // justify-content: right;
  align-items: center;
}

.add-button {
  margin-right: 3rem;
}
